<a href="https://colab.research.google.com/github/svyas19/Data-Science/blob/main/Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data

The main data will be obtained from website: https://ope.ed.gov/dapip/#/home </br>
Data Cleaning will be required, unwanted features will be removed and data will be brought into useful format.
The dataset is described below.

In [1]:
import pandas as pd


df = pd.read_csv("/content/drive/MyDrive/InstitutionCampus.csv")
df.head()

     DapipId     OpeId  ...           Fax             UpdateDate
0     100016  01230800  ...  3.349538e+09                    NaN
1  100016002       NaN  ...           NaN                    NaN
2     100025  00100200  ...           NaN  9/14/2018 12:00:00 AM
3     100034  00105200  ...           NaN  3/12/2013 12:00:00 AM
4  100034002       NaN  ...           NaN                    NaN

[5 rows x 14 columns]

In [2]:
df.shape

(32833, 14)

 The Postal Codes will be Extracted from the Address column and will be used to explore using Fourr Squre:

In [3]:
df.Address.head()

0        130 W Maxwell Blvd, Montgomery, AL 36112-6613
1    2250 Stanley Road, Unit 161, Fort Sam Houston,...
2               4900 Meridian Street, Normal, AL 35762
3          1720 2nd Avenue South, Birmingham, AL 35233
4      1716 University Boulevard, Birmingham, AL 35294
Name: Address, dtype: object